.hotel-hero {
    background-color: var(--main-background-color);
}

.hotel-hero-container {
    position: relative;

    padding-top: 40px;
    padding-bottom: 64px;
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
    .hotel-hero-container {
        max-width: 375px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px){
    .hotel-hero-container {
        max-width: 768px;
        padding-bottom: 120px;
    }
}

.hero-block {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

@media screen and (min-width: 1440px) {
    .hotel-hero-container {
        max-width: 1440px;
        padding-top: 204px;
        padding-bottom: 148px;
    }

    .hero-block {
        width: 592px;
       gap: 204px;
    }
}

@media screen and (min-width: 768px) {
    .hero-text-block {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.hotel-hero-title {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--paragraph-blackcolor);
}

@media screen and (min-width: 768px) {
    .hotel-hero-title {
        margin: 0;
        font-size: 80px;
    }
}

@media screen and (min-width: 1440px) {
    .hotel-hero-title {
        font-size: 90px;
    }
}

.hero-list-btn {
    display: flex;
}

.hero-list-btn :not(:last-child) {
    margin-right: 12px;
}

@media screen and (min-width: 768px) {
    .hero-list-btn :not(:last-child) {
        margin-right: 14px;
    }
}

.hotel-hero-btn {
    display: inline-block;
    min-width: 117px;
    border: 0.8px solid var(--paragraph-blackcolor);
    border-radius: 32px;
    padding: 8px 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    color: var(--paragraph-blackcolor);
    background-color: transparent;
    transition: color var(--transition-dur-func), background-color var(--transition-dur-func);
    margin-bottom: 569px;
}
@media screen and (min-width: 768px){
    .hotel-hero-btn {
        padding: 8px 24px;
        margin-bottom: 642px;
    }
}

@media screen and (min-width: 1440px) {
    .hotel-hero-btn {
        padding: 9px 24px;
        margin-bottom: 0;
    }
}

.hotel-hero-btn:hover,
.hotel-hero-btn:focus {
    color: var(--h1-h2-h3-whitecolor);
    background-color: var(--backcolor-dark);
}

.hotel-hero-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--paragraph-blackcolor);
    width: 335px;
}

@media screen and (min-width: 768px) {
    .hotel-hero-description {
        width: 338px;
    }
}

.part-hotel-hero-description {
    font-style: italic;
}
/* ============Slider================= */
.slider-container {
    position: relative;
}

.hero-slider-wrapper {
    position: absolute;
    top: 178px;
    left: 20px;
}

@media screen and (min-width: 768px) {
    .hero-slider-wrapper {
        top: 246px;
        left: 36px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-slider-wrapper {
        top: 30px;
        left: 737px;
    }
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider .slick-slide {
    margin-right: 20px;
}

@media screen and (min-width: 768px) {
    .slider .slick-slide {
        margin-right: 32px;
    }
} 

.slick .slick-arrow {
    width: 7px;
    height: 14px;
    padding: 11px 15px;
    cursor: pointer;
    position: absolute;
    top: 100%;
    margin-top: 24px;
    z-index: 10;
    font-size: 0;
    border: none;
    outline: none;
}

/* .slick-prev:before,
.slick-next:before {
    display: none;
} */
/* .slick-prev, .slick-next {
    position: absolute;
    top: 100%;
    margin-top: 24px;
    z-index: 10;
    font-size: 0;
    width: 36px;
    height: 36px;
    
} */

/* @media screen and (min-width: 768px) {
    .slick-prev,
    .slick-next {
        margin-top: 40px;
    }
}
@media screen and (min-width: 1440px) {
    .slick-prev,
    .slick-next {
        margin-top: 16px;
    }
} */

/* .slick-prev{
    left: 231px;
} */


.slick-prev {
    right: 0px;
}

.slider .slick-arrow.slick-prev {
    top: 103%;
    background-position: center;
    background-image: url('../../img/icons/slider-left-new.svg') 0 0 no-repeat;
    opacity: 0.3;
    transition: opasity var(--transition-dur-func);
}

@media screen and (max-width: 374.98px) {
    .slick-prev {
        left: 175px;
    }
}

@media screen and (min-width: 768px) {
    .slick-prev {
        left: 600px;
    }

}

@media screen and (min-width: 1440px) {
    .slick-prev {
        left: 0px;
    }
}

/* .slick-next {
    left: 299px;
} */

.slick-next {
    right: 0px;
}
.slider .slick-arrow.slick-next {
    
    background-position: center;
    top: 103%;
    background-image: url('../../img/icons/slider-right.svg') 0 0 no-repeat;
    opacity: 0.3;
    transition: opacity var(--transition-dur-func);
}

@media screen and (max-width: 374.98px) {
    .slick-next {
        left: 248px;
    }
}

@media screen and (min-width: 768px) {
    .slick-next {
        left: 668px;
    }
}

@media screen and (min-width: 1440px) {
    .slick-next {
        left: 68px;
    }
}    

.slider .slick-arrow.slick-next:hover,
.slider .slick-arrow.slick-next:focus,
.slider .slick-arrow.slick-prev:hover,
.slider .slick-arrow.slick-prev:focus {
    opacity: 1;
}
/* ============Slider================= */

/* Hero hotel pictures animation */
.hero-hotel-image {
    transition: transform 0.5s;
}

.hero-hotel-image:hover {
    transform: scale(1.1);
}