<section class="about_k container">
  <h2 class="visually-hidden">About a kitchen</h2>

  <img
    class="img-cook"
    src="./../img/mobile/restourant_page/about_a_kitchen/1img@1x.jpg"
    alt="Chef-cook"
    loading="lazy"
  />
  <!-- зробити список з 3 фото? -->
  <ul class="img-food">
    <li>
      <img
        class="example"
        src="./../img/mobile/restourant_page/about_a_kitchen/2img@1x.jpg"
        alt="Meat"
        loading="lazy"
      />
    </li>
    <li>
      <img
        src="./../img/mobile/restourant_page/about_a_kitchen/3img@1x.jpg"
        alt="Drink"
      />
    </li>
  </ul>
  <ul class="about-k_txt">
    <li>
      At Mimino, we are experts in meat preparation. Our chefs use only the
      finest and freshest ingredients to create delicious dishes that showcase
      the flavors of premium cuts of meat.
    </li>
    <li>
      Our slow-cooking process and expert seasoning bring out the best in each
      dish, making for an unforgettable dining experience. Come taste the magic
      of meat preparation at Mimino.
    </li>
  </ul>
</section>
