<section class="hero-restaurant container">
  <div class="hero-restaurant-block">
    <h1>Restaurant</h1>
    <button>book a table</button>
    <button>View a menu</button>
    <p>
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>
  </div>
  <div class="hero-restaurant-slider">
    <div>
      <picture>
        <source
          srcset="
            /img/desctop/restoraunt_page/hero_slider/1image@1x.jpg 1x,
            /img/desctop/restoraunt_page/hero_slider/1image@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/tublet/restoraunt_page/hero_slider/1image@1x.jpg 1x,
            /img/tublet/restoraunt_page/hero_slider/1image@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/mobile/restoraunt_page/hero_slider/1image@1x.jpg 1x,
            /img/mobile/restoraunt_page/hero_slider/1image@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/mobile/restoraunt_page/hero_slider/1image@1x.jpg"
          alt="empty table"
        />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            /img/desctop/restoraunt_page/hero_slider/2image@1x.jpg 1x,
            /img/desctop/restoraunt_page/hero_slider/2image@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/tublet/restoraunt_page/hero_slider/2image@1x.jpg 1x,
            /img/tublet/restoraunt_page/hero_slider/2image@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/mobile/restoraunt_page/hero_slider/2image@1x.jpg 1x,
            /img/mobile/restoraunt_page/hero_slider/2image@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/mobile/restoraunt_page/hero_slider/2image@1x.jpg"
          alt="dish"
        />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            /img/desctop/restoraunt_page/hero_slider/3image@1x.jpg 1x,
            /img/desctop/restoraunt_page/hero_slider/3image@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/restoraunt_page/hero_slider/3image@1x.jpg        1x,
            /img/tublet/restoraunt_page/hero_slider/3image@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/img/mobile/restoraunt_page/hero_slider/3image@1x.jpg 1x,
            /src/img/mobile/restoraunt_page/hero_slider/3image@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/mobile/restoraunt_page/hero_slider/3image@1x.jpg"
          alt="сooking"
        />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            /img/desctop/restoraunt_page/hero_slider/4image@1x.jpg 1x,
            /img/desctop/restoraunt_page/hero_slider/4image@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/tublet/restoraunt_page/hero_slider/4image@1x.jpg 1x,
            /img/tublet/restoraunt_page/hero_slider/4image@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/mobile/restoraunt_page/hero_slider/4image@1x.jpg 1x,
            /img/mobile/restoraunt_page/hero_slider/4image@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/mobile/restoraunt_page/hero_slider/4image@1x.jpg"
          alt="bar stand"
        />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            /img/desctop/restoraunt_page/hero_slider/5image@1x.jpg 1x,
            /img/desctop/restoraunt_page/hero_slider/5image@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/tublet/restoraunt_page/hero_slider/5image@1x.jpg 1x,
            /img/tublet/restoraunt_page/hero_slider/5image@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/mobile/restoraunt_page/hero_slider/5image@1x.jpg 1x,
            /img/mobile/restoraunt_page/hero_slider/5image@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/mobile/restoraunt_page/hero_slider/5image@1x.jpg"
          alt="glasses"
        />
      </picture>
    </div>
    <div>
      <picture>
        <source
          srcset="
            /img/desctop/restoraunt_page/hero_slider/6image@1x.jpg 1x,
            /img/desctop/restoraunt_page/hero_slider/6image@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/tublet/restoraunt_page/hero_slider/6image@1x.jpg 1x,
            /img/tublet/restoraunt_page/hero_slider/6image@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/mobile/restoraunt_page/hero_slider/6image@1x.jpg 1x,
            /img/mobile/restoraunt_page/hero_slider/6image@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/mobile/restoraunt_page/hero_slider/6image@1x.jpg"
          alt="empty table"
        />
      </picture>
    </div>
  </div>
</section>
