<!-- Restaurant menu -->
<section class="section-menu">
  <div class="container">
    <h2 class="section-title-menu">RESTAURANT MENU</h2>



    <!-- Mobile + Tablet = Slider-->

    <div class="single-item slider-menu">
      <div class="slider-item">
        <h3 class="title-menu">Hot meals</h3>
        <ul>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Veal borscht with beans</p>
              <span class="menu-weight">400 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">
                Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                tomatoes, greens, sour cream
              </p>
              <span class="menu-price">240 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Cheese soup with chicken</p>
              <span class="menu-weight">400 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">
                Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                greens
              </p>
              <span class="menu-price">200 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Carbonara pasta</p>
              <span class="menu-weight">400 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">
                Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
              </p>
              <span class="menu-price">430 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Pork steak</p>
              <span class="menu-weight">400 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">
                Pork tenderloin, spices, served with sweet chili sauce and
                vegetables
              </p>
              <span class="menu-price">500 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Gorbusha in white wine sauce</p>
              <span class="menu-weight">400 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">
                Tender redfish, cream sauce based on white wine
              </p>
              <span class="menu-price">400 UAH</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="slider-item">
        <h3 class="title-menu">Salads</h3>
        <ul>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Caesar with chicken</p>
              <span class="menu-weight">230 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">
                Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                croutons, Caesar sauce
              </p>
              <span class="menu-price">450 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Caesar with shrimp</p>
              <span class="menu-weight">230 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">
                Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                croutons, caesar sauce
              </p>
              <span class="menu-price">300 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Greek salad</p>
              <span class="menu-weight">230 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">
                Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                lettuce, sauce
              </p>
              <span class="menu-price">280 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Meat salad</p>
              <span class="menu-weight">230 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">
                Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell
                pepper, ranch sauce
              </p>
              <span class="menu-price">300 UAH</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="slider-item">
        <h3 class="title-menu">Side dishes and snacks</h3>
        <ul>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Baked vegetables</p>
              <span class="menu-weight">200 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">Zucchini, pepper, tomato, eggplant</p>
              <span class="menu-price">230 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">French fries</p>
              <span class="menu-weight">150 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">Potatoes, tomato sauce</p>
              <span class="menu-price">160 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Peasant-style potatoes</p>
              <span class="menu-weight">150 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">Potatoes, spices, spicy sauces</p>
              <span class="menu-price">160 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Crisp pickles from the barrel</p>
              <span class="menu-weight">250 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">
                Salted cucumber, pickled tomato, sauerkraut, Korean carrot
              </p>
              <span class="menu-price">350 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item">
              <p class="menu-part">Chicken wings in honey sauce</p>
              <span class="menu-weight">400 g</span>
            </div>
            <div class="menu-details">
              <p class="menu-txt">
                Chicken wings, mustard-honey sauce, served with carrots, celery
                and blue cheese sauce
              </p>
              <span class="menu-price">400 UAH</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="slider-item">
        <h3 class="title-menu">Desserts</h3>
        <ul>
          <li class="menu-list">
            <div class="menu-item tasty">
              <p class="menu-part">Napoleon cake</p>
              <span class="menu-price">200 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item tasty">
              <p class="menu-part">Poppy cake</p>
              <span class="menu-price">300 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item tasty">
              <p class="menu-part">Tiramisu</p>
              <span class="menu-price">260 UAH</span>
            </div>
          </li>
        </ul>
        <h3 class="title-menu">Drinks</h3>
        <ul>
          <li class="menu-list">
            <div class="menu-item tasty">
              <p class="menu-part">Black/green tea</p>
              <span class="menu-price">100 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item tasty">
              <p class="menu-part">Espresso</p>
              <span class="menu-price">100 UAH</span>
            </div>
          </li>
          <li class="menu-list">
            <div class="menu-item tasty">
              <p class="menu-part">Cappuccino</p>
              <span class="menu-price">100 UAH</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- DESKTOP -->
    <div class="desktop">
      <ul class="menu">
        <li class="slider-item">
          <h3 class="title-menu">Hot meals</h3>
          <ul>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Veal borscht with beans</p>
                <span class="menu-weight">400 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">
                  Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                  tomatoes, greens, sour cream
                </p>
                <span class="menu-price">240 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Cheese soup with chicken</p>
                <span class="menu-weight">400 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">
                  Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                  greens
                </p>
                <span class="menu-price">200 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Carbonara pasta</p>
                <span class="menu-weight">400 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">
                  Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
                </p>
                <span class="menu-price">430 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Pork steak</p>
                <span class="menu-weight">400 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">
                  Pork tenderloin, spices, served with sweet chili sauce and
                  vegetables
                </p>
                <span class="menu-price">500 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Gorbusha in white wine sauce</p>
                <span class="menu-weight">400 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">
                  Tender redfish, cream sauce based on white wine
                </p>
                <span class="menu-price">400 UAH</span>
              </div>
            </li>
          </ul>
        </li>
        <li class="slider-item">
          <h3 class="title-menu">Side dishes and snacks</h3>
          <ul>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Baked vegetables</p>
                <span class="menu-weight">200 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">Zucchini, pepper, tomato, eggplant</p>
                <span class="menu-price">230 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">French fries</p>
                <span class="menu-weight">150 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">Potatoes, tomato sauce</p>
                <span class="menu-price">160 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Peasant-style potatoes</p>
                <span class="menu-weight">150 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">Potatoes, spices, spicy sauces</p>
                <span class="menu-price">160 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Crisp pickles from the barrel</p>
                <span class="menu-weight">250 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">
                  Salted cucumber, pickled tomato, sauerkraut, Korean carrot
                </p>
                <span class="menu-price">350 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Chicken wings in honey sauce</p>
                <span class="menu-weight">400 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">
                  Chicken wings, mustard-honey sauce, served with carrots,
                  celery and blue cheese sauce
                </p>
                <span class="menu-price">400 UAH</span>
              </div>
            </li>
          </ul>
        </li>
        <li class="slider-item">
          <h3 class="title-menu">Salads</h3>
          <ul>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Caesar with chicken</p>
                <span class="menu-weight">230 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">
                  Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                  croutons, Caesar sauce
                </p>
                <span class="menu-price">450 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Caesar with shrimp</p>
                <span class="menu-weight">230 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">
                  Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                  croutons, caesar sauce
                </p>
                <span class="menu-price">300 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Greek salad</p>
                <span class="menu-weight">230 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">
                  Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                  lettuce, sauce
                </p>
                <span class="menu-price">280 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item">
                <p class="menu-part">Meat salad</p>
                <span class="menu-weight">230 g</span>
              </div>
              <div class="menu-details">
                <p class="menu-txt">
                  Chicken fillet or pork tenderloin, fresh cucumber, tomato,
                  bell pepper, ranch sauce
                </p>
                <span class="menu-price">300 UAH</span>
              </div>
            </li>
          </ul>
        </li>
        <div class="slider-item">
          <h3 class="title-menu">Desserts</h3>
          <ul>
            <li class="menu-list">
              <div class="menu-item tasty">
                <p class="menu-part">Napoleon cake</p>
                <span class="menu-price">200 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item tasty">
                <p class="menu-part">Poppy cake</p>
                <span class="menu-price">300 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item tasty">
                <p class="menu-part">Tiramisu</p>
                <span class="menu-price">260 UAH</span>
              </div>
            </li>
          </ul>
          <h3 class="title-menu drinks">Drinks</h3>
          <ul>
            <li class="menu-list">
              <div class="menu-item tasty">
                <p class="menu-part">Black/green tea</p>
                <span class="menu-price">100 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item tasty">
                <p class="menu-part">Espresso</p>
                <span class="menu-price">100 UAH</span>
              </div>
            </li>
            <li class="menu-list">
              <div class="menu-item tasty">
                <p class="menu-part">Cappuccino</p>
                <span class="menu-price">100 UAH</span>
              </div>
            </li>
          </ul>
        </div>
      </ul>
    </div>

    <button class="btn-book" table-modal-restaurant-2-open type="button">
      book a table
    </button>
  </div>
</section>
