.hero-main {
  background-color: var(--backcolor-dark);
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-wrraper-img {
    display: flex;
    justify-content: center;
  }
}

.hero-main-wrraper {
  padding: 40px 0;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-main-wrraper {
    padding: 50px 0 38px 0;
  }
}

.hero-main__title {
  position: absolute;
  left: 46px;
  top: 430px;
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--h1-h2-h3-whitecolor);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-main__title {
    position: absolute;
    left: 119px;
    top: 527px;
    font-size: 150px;
  }
}

.hero-main__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 54px;
  gap: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-main__list {
    position: absolute;
    left: 234px;
    top: 658px;
    gap: 10px;
  }
}

.hero-main__btn {
  width: 131px;
  height: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--h1-h2-h3-whitecolor);
  background-color: var(--backcolor-dark);
  border: 0.8px solid var(--h1-h2-h3-whitecolor);
  border-radius: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-main__btn {
    width: 143px;
    height: 40px;
  }
}

.hero-main-control {
  display: flex;
  flex-direction: column;
  margin-top: 66px;
  gap: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-main-control {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

.hero-main__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--h1-h2-h3-whitecolor);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-main__text {
    margin-bottom: 0;
  }
}

/* .hero-main__text:not(:last-child) {
  margin-bottom: 32px;
} */
