/* ==================== Global styles ==================== */

.location-title {
  font-weight: 500;
  font-size: 68px;
  line-height: 1;
  text-transform: uppercase;
}

.location-map-item {
  max-width: 214px;
}

.location-link-map {
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
}

.location-nummer {
  font-size: 14px;
  line-height: 1.29;
}

.location-text {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 12px;
}

.location-link-nummer1 {
  font-size: 18px;
  line-height: 1.33;
}

.location-link-nummer2 {
  font-size: 18px;
  line-height: 1.33;
}

/* ==================== /Global styles ==================== */

/* ==================== Mobile ==================== */

@media screen and (max-width: 767px) {
  .location-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .map-desctop {
    display: none;
  }

  .location-title {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 32px;
  }

  .map {
    display: block;
    width: 100%;
    height: 384px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }

  .location-address {
    max-width: 214px;
  }

  .location-map-item {
    margin-bottom: 28px;
  }

  .location-link-nummer1 {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 1.29;
  }

  .location-link-nummer2 {
    font-size: 14px;
    line-height: 1.29;
  }
}

/* ==================== /Mobile ==================== */

/* ==================== Tablet ==================== */

@media screen and (min-width: 768px) {
  .location-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .map-desctop {
    display: none;
  }

  .location-title {
    margin-bottom: 40px;
  }

  .map {
    display: block;
    width: 704px;
    height: 576px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }

  .location-address {
    display: flex;
    justify-content: space-between;
  }

  .location-address {
    max-width: 704px;
  }

  .location-link-nummer1 {
    margin-bottom: 2px;
  }
}

/* ==================== /Tablet ==================== */

/* ==================== Desctop ==================== */

@media screen and (min-width: 1440px) {
  .location-address-desctop {
    display: flex;
  }

  .location-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .map-general {
    display: none;
  }

  .location-address {
    display: none;
  }

  .map-desctop {
    display: flex;
  }

  .map {
    margin-right: 32px;
  }

  .location-list {
    display: flex;
  }

  .location-map-item {
    margin-right: 70px;
  }

  .location-title {
    margin-bottom: 399px;
  }

  .location-text {
    font-weight: 700;
    margin-right: 12px;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
  }

  .map {
    display: block;
    width: 640px;
    height: 524px;
  }

  .location-link-nummer1 {
    margin-bottom: 4px;
  }
}

/* ==================== /Desctop ==================== */
