.about_k {
    padding-top: 64px;
    padding-bottom: 64px;
}

.img-cook {
    max-width: 335px;
    height: auto; 
    margin-bottom: 20px;
}

.img-food {
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
}

.example {
    max-width: 158px;
    height: auto;
} 

.example-drink {
    max-width: 157px;
    height: auto;
}

.about-k_txt {
    font-size: 14px;
    line-height: 1.29em;
    color: var(--adress-color);
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.about-k_txt-item {
    padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .about_k {
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
    }

    .img-cook {
        max-width: 388px;
        max-height: 598px; 
        position: absolute;
        right: 16px;
        top: 40px;
        margin-bottom: 0;
    }

    .img-food {
        display: flex;
        gap: 16px;
        flex-direction: column;
        max-width: 284px;
        margin-bottom: 0;
    }

    .example {
        max-width: 284px;
        height: auto;
    }

    .example-drink {
        max-width: 284px;
    }

    .about-k_txt {
        display: flex;
        gap:32px;
        font-size: 18px;
        line-height: 1.33em;
        padding-top: 40px;
    }

    .about-k_txt-item {
        padding-bottom: 0;
    }

    .about-k_txt-item-two {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1440px) {
    .about_k {
        padding-bottom: 100px;
        padding-top: 100px;
        min-height: 798px;
    }

    .img-food {
        display: flex;
        gap: 32px;
        flex-direction: row;
        margin-bottom: 32px;
    }

    .img-cook {
        position: absolute;
        left: 16px;
        top: 50px;
        margin-bottom: 0;
        max-width: 511px;
    }

    .about-k_txt {
        font-weight: 500;
        position: absolute;
        left: 0px;
        padding-top: 0;
    }

    .about-k_txt-item {
        width: 334px;
    }

    .about-k_txt-item-two {
        width: 453px;
    }

    .about-k-info {
        position: relative;
        top: 0;
        left: 543px;
    }

    .example {
        max-width: 334px;
    }

    .example-drink {
        max-width: 467px;
    }
}



