.hero-restaurant-bgcolor {
  background-color: var(--main-background-color);
}

.hero-restaurant {
  overflow: hidden;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .hero-restaurant {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-restaurant {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hero-restaurant-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 181px;
  }
}

.hero-restaurant-title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--paragraph-blackcolor);
}

@media screen and (min-width: 768px) {
  .hero-restaurant-title {
    margin-bottom: 32px;
    font-size: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-restaurant-title {
    font-size: 90px;
  }
}

.hero-restaurant-btns {
  display: flex;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero-restaurant-btns {
    margin-bottom: 54px;
  }
}

.hero-restaurant-btn {
  padding: 8px 18px;
  gap: 10px;
  min-width: 128px;
  height: 34px;
  border: 0.8px solid #121212;
  border-radius: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  margin-right: 12px;

  text-transform: uppercase;
  color: var(--paragraph-blackcolor);
  background-color: transparent;
  transition: color var(--transition-dur-func),
    background-color var(--transition-dur-func);
}

@media screen and (min-width: 768px) {
  .hero-restaurant-btn {
    padding: 8px 24px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-restaurant-btn {
    padding: 9px 24px;
    height: 42px;
  }
}

.hero-restaurant-btn:hover,
.hero-restaurant-btn:focus {
  color: var(--h1-h2-h3-whitecolor);
  background-color: var(--backcolor-dark);
}

@media screen and (min-width: 768px) {
  .hero-restaurant-btn {
    margin-right: 14px;
  }
}

.hero-restaurant-slider {
  position: relative;
  min-width: 520px;
  min-height: 429px;
}

@media screen and (min-width: 768px) {
  .hero-restaurant-slider {
    min-width: 904px;
    min-height: 548px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-restaurant-slider {
    min-width: 904px;
    min-height: 580px;
  }
}

.slider-img {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .slider-img {
    margin-right: 32px;
  }
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 100%;
  margin-top: 24px;
  z-index: 10;
  font-size: 0;
  width: 36px;
  height: 36px;
}

@media screen and (min-width: 768px) {
  .slick-prev,
  .slick-next {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .slick-prev,
  .slick-next {
    margin-top: 16px;
  }
}

.slick-prev {
  left: 231px;
}

.slider .slick-arrow.slick-prev {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../img/icons/slider-left-new.svg');
  opacity: 0.3;
  transition: opasity var(--transition-dur-func);
}

@media screen and (min-width: 768px) {
  .slick-prev {
    left: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .slick-prev {
    left: 0px;
  }
}

.slick-next {
  left: 299px;
}
.slider .slick-arrow.slick-next {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../img/icons/slider-right.svg');
  opacity: 0.3;
  transition: opacity var(--transition-dur-func);
}

@media screen and (min-width: 768px) {
  .slick-next {
    left: 668px;
  }
}

@media screen and (min-width: 1440px) {
  .slick-next {
    left: 68px;
  }
}

.slider .slick-arrow.slick-next:hover,
.slider .slick-arrow.slick-next:focus,
.slider .slick-arrow.slick-prev:hover,
.slider .slick-arrow.slick-prev:focus {
  opacity: 1;
}

.hero-restaurant-desc {
  margin-top: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--paragraph-blackcolor);
}

@media screen and (min-width: 768px) {
  .hero-restaurant-desc {
    margin-top: 40px;
    width: 338px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-restaurant-desc {
    margin-top: -36px;
    width: 338px;
  }
}

.part-hero-restaurant-desc {
  font-style: italic;
}
