.section-menu {
    padding-top: 40px;
    padding-bottom: 64px;
    background-color: var(--backcolor-dark);
    color: var(--h1-h2-h3-whitecolor);
  
} 
/* h2 */
.section-title-menu {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25em;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25em;
  padding-bottom: 36px;
  text-transform: uppercase;
  color: var(--h1-h2-h3-whitecolor);
  text-align: center;
  color: var(--h1-h2-h3-whitecolor);
  text-align: center;
}

/* h3 */
.title-menu {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--h1-h2-h3-whitecolor);
  margin-bottom: 32px;
}

.btn-book {
  min-width: 140px;
  height: 40px;
  Padding: 8px 24px;
  color: var(--burger-symbols-white);
  text-transform: uppercase;
  background-color: var(--btns-darkborder);
  border: 0.8px solid var(--paragraph-whitecolor);
  border-radius: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 88px;

  transition: color var(--transition-dur-func),
    background-color var(--transition-dur-func);
}

.btn-book:hover,
.btn-book:focus {
  background-color: var(--btns-whiteborder);
  color: var(--paragraph-blackcolor);
}


/* .slider-item {
  max-width: 335px;
 
  max-height: 533px;
  
} */

.menu-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-part::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--paragraph-whitecolor);
  margin-left: 5px;
  margin-right: 5px;
}

.menu-item {
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: var(--paragraph-whitecolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-weight {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--lightwhite-paragraph);
}

.menu-txt {
  max-width: 233px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.18em;
  color: var(--menu-paragraph-light);
  text-transform: none;
}

.menu-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--paragraph-whitecolor);
}

.menu-details {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 14px;
}

.tasty {
  padding-bottom: 14px;
}

.menu-list::after {
  content: "";
  max-width: 335px;
  height: 1px;
  margin-bottom: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
} 

.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-menu {
    padding-top: 80px;
    padding-bottom: 80px;
  }
    
  .section-title-menu {
    font-size: 40px;
    line-height: 1.1em;
    padding-bottom: 64px;
  }

  .title-menu {
    font-size: 24px;
    line-height: 1em;
  }
  .btn-book {
    margin-top: 100px;
    margin-left: 0;
    margin-right: auto;
    display: flex;
  }

  .menu-txt {
    font-size: 12px;
    max-width: 345px;
  }
  .menu-weight {
    font-size: 14px;
  }

   .slider-item {
    /* max-width: 515px; */
    /* max-height: 533px;  */
    
    margin-left: auto;
    margin-right: auto;
  } 

  .menu-list::after {
    content: "";
    max-width: 100%;
    display: block;
  } 
}

@media screen and (min-width: 1440px) {
 .desktop {
    display: block;
  }
.single-item .slider-menu {
    display: none;
  }


  .section-menu {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section-title-menu {
    padding-bottom: 100px;
  }

  .btn-book {
    font-size: 18px;
    line-height: 1.33em;
    margin-right: auto;
    margin-left: 0;
    margin-top: 42px;
  }

 

  .slider-item {
       min-width: calc((100% - var(--indent)) / var(--items));
  }

  .menu {
    display: flex;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    flex-wrap: wrap;
    gap: 74px;
    row-gap: 56px;
    justify-content: center;  
  }

  .menu-price {
    font-size: 18px;
    line-height: 1.33em;
  }

  .menu-item {
    font-size: 18px;
  }

  .menu-txt {
      max-width: 345px;
  }

  .drinks {
    margin-top: 28px;
  }
}


/* Slider */
/* Скрито на десктоп */
@media screen and (min-width: 1440px) {
  .slider-menu {
    display: none;
  }

   .slider-menu .slick-slide {
    display: none;
   }
}

.slider-menu .slick-track {

display: flex;
/* align-items: self-start; */
}


  .slider-menu {
    position: relative;
    display: flex;
   
}  

 .slider-menu .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    min-width: 0;

}


.slider-menu .slick-arrow {
    width: 7px;
    height: 14px;
    padding: 11px 15px;
    cursor: pointer;
    position: absolute;
    top: 100%;
    margin-top: 38px;
    z-index: 10;
    font-size: 0;
    border: none;
    outline: none;
}

.slider-menu .slick-arrow.slick-prev {
    top: 100%;
    left: 40%;
    background-position: center;
    background-image: url("/src/img/icons/slider-left.svg") 0 0 no-repeat;
    opacity: 0.3;
    transition: opasity var(--transition-dur-func);
    
}

.slider-menu .slick-arrow.slick-next {
    top: 100%;
    left: 53%;
    background-position: center;
    background-image: url('/src/img/icons/slider-right.svg') 0 0 no-repeat;
    opacity: 0.3;
    transition: opasity var(--transition-dur-func);
}



.slider-menu .slick-prev,
.slider-menu .slick-next {
    position: absolute;
    top: 100%;
    
    z-index: 10;
    font-size: 0;
    width: 24px;
    height: 24px;


    background-color: aqua;
}

.slider-menu .slick-arrow.slick-next:hover,
.slider-menu .slick-arrow.slick-next:focus,
.slider-menu .slick-arrow.slick-prev:hover,
.slider-menu .slick-arrow.slick-prev:focus {
    opacity: 1;
}


 .slider-menu {
   
  margin-left: auto;
  margin-right: auto;
} 





 

 

