<section class="section-amenities">
  <div class="container cont-tab">
    <h1 class="visually-hidden">Amenities of rooms</h1>
    <div class="thumb-flex1">
      <div class="container-amenities">
        <h2 class="head-amenities">GENERAL AMENITIES & FACILITIES:</h2>
        <ul class="list-amenities">
          <li class="item-amenities">24-hour front desk service</li>
          <li class="item-amenities">Daily housekeeping</li>
          <li class="item-amenities">Free Wi-Fi throughout the hotel</li>
          <li class="item-amenities">Elevator access</li>
          <li class="item-amenities">Luggage storage</li>
          <li class="item-amenities">Non-smoking rooms available</li>
          <li class="item-amenities">Meeting rooms for business and events</li>
          <li class="item-amenities">On-site parking (surcharge)</li>
          <li class="item-amenities">Concierge services</li>
        </ul>
      </div>
      <div class="container-amenities">
        <h2 class="head-amenities">Bathroom:</h2>
        <ul class="list-amenities">
          <li class="item-amenities">Private bathroom with shower</li>
          <li class="item-amenities">Complimentary toiletries</li>
          <li class="item-amenities">Hair dryer</li>
          <li class="item-amenities">Fresh towels daily</li>
          <li class="item-amenities">
            Deluxe bathrobes (in some room categories)
          </li>
        </ul>
      </div>
    </div>
    <div class="thumb-flex2">
      <div class="container-amenities">
        <h2 class="head-amenities">Bedroom:</h2>
        <ul class="list-amenities">
          <li>Comfortable beds with high-quality linens</li>
          <li>Blackout curtains</li>
          <li>Climate control (air conditioning and heating)</li>
          <li>Safe for valuables</li>
          <li>Writing desk and chair</li>
          <li>Flat-screen TV with cable channels</li>
        </ul>
      </div>
      <div class="container-amenities">
        <h2 class="head-amenities">Kitchen:</h2>
        <ul class="list-amenities">
          <li>In-room kitchenette (in some room categories)</li>
          <li>Refrigerator</li>
          <li>Microwave</li>
          <li>Electric kettle</li>
          <li>Cooking utensils and cutlery</li>
          <li>Dining table and chairs</li>
        </ul>
      </div>
    </div>
    <div class="container-amenities">
      <h2 class="head-amenities">Media:</h2>
      <ul class="list-amenities">
        <li>Flat-screen TV with cable channels</li>
        <li>High-speed Wi-Fi</li>
        <li>iPod docking station</li>
        <li>Speaker system</li>
        <li>Electrical outlets for charging devices.</li>
      </ul>
    </div>
    <div class="container-amenities">
      <div class="thumb-amenities">
        <picture>
          <source
            type="image/jpg"
            media="(min-width: 1200px)"
            srcset="
              /img/desctop/rooms_page/amenities/1image@1x.jpg 1x,
              /img/desctop/rooms_page/amenities/1image@2x.jpg 2x
            "
            width="496"
            height="636"
          />
          <source
            type="image/jpg"
            media="(min-width: 768px)"
            srcset="
              /img/tublet/rooms_page/amenities/1image@1x.jpg 1x,
              /img/tublet/rooms_page/amenities/1image@2x.jpg 2x
            "
            width="408"
            height="525"
          />
          <source
            type="image/jpg"
            media="(max-width: 767px)"
            srcset="
              /img/mobile/rooms_page/amenities/1image@1x.jpg 1x,
              /img/mobile/rooms_page/amenities/1image@2x.jpg 2x
            "
          />
          <img
            class="img-block"
            src="/img/mobile/rooms_page/amenities/1image@1x.jp"
            alt="bathroom in in sunlight"
            width="259"
            height="333"
          />
        </picture>
        <div class="thumb-absolute">
          <picture>
            <source
              type="image/jpg"
              media="(min-width:1200px)"
              srcset="
                /img/desctop/rooms_page/amenities/2image@1x.jpg 1x,
                /img/desctop/rooms_page/amenities/2image@2x.jpg 2x
              "
              width="439"
              height="219"
            />
            <source
              type="image/jpg"
              media="(min-width:768px)"
              srcset="
                /img/tublet/rooms_page/amenities/2image@1x.jpg 1x,
                /img/tublet/rooms_page/amenities/2image@2x.jpg 2x
              "
              width="365"
              height="182"
            />
            <source
              type="image/jpg"
              media="(max-width:767px)"
              srcset="
                /img/mobile/rooms_page/amenities/2image@1x.jpg 1x,
                /img/mobile/rooms_page/amenities/2image@2x.jpg 2x
              "
            />
            <img
              src="/img/mobile/rooms_page/amenities/2image@1x.jpg"
              alt="bathroom accessories"
              width="207"
              height="103"
            />
          </picture>
        </div>
        <button class="button btn-amenitiens" data-modal-open type="button">
          book a room
        </button>
      </div>
    </div>
  </div>
</section>
