<!-- Page rooms Hero / parooh-->
<section class="parooh-bgcolor">
  <div class="section parooh">
    <!-- Container Parooh-->
    <div class="container parooh">
      <!-- Text part Parooh -->
      <div class="text-part-parooh">
        <div class="main-text-part-parooh">
          <h1 class="main-title-parooh">
            Double <br /><span class="parooh-luxury">luxury</span> room
          </h1>
          <button type="button" class="btn-parooh" prices-modal-room-1-open>
            view prices
          </button>
        </div>
        <p class="text-parooh">
          The Mimino hotel features spacious and stylish double luxury rooms
          with modern amenities for a comfortable stay.
        </p>

        <!-- Slider Parooh -->
        <div class="parooh-slider-wraper">
          <div class="slider slider-container">
            <div class="parooh-slider-pic">
              <picture class="parooh-slider-item">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/desctop/rooms_page/hero_slider/1image@1x.jpg 1x,
                    /img/desctop/rooms_page/hero_slider/1image@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width:768px) and (max-width: 1439px)"
                  srcset="
                    /img/tublet/rooms_page/header_slider/1image@1x.jpg 1x,
                    /img/tublet/rooms_page/header_slider/1image@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/mobile/rooms_page/hero_slider/1image@1x.jpg 1x,
                    /img/mobile/rooms_page/hero_slider/1image@2x.jpg 2x
                  "
                />
                <img
                  src="/img/mobile/rooms_page/hero_slider/1image@1x.jpg"
                  alt="comfortable hotel's room"
                  loading="lazy"
                  class="hero-room-picture"
                />
              </picture>
            </div>
            <div class="parooh-slider-pic">
              <picture class="parooh-slider-item">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/desctop/rooms_page/hero_slider/2image@1x.jpg 1x,
                    /img/desctop/rooms_page/hero_slider/2image@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width:768px) and (max-width: 1439px)"
                  srcset="
                    /img/tublet/rooms_page/header_slider/2image@1x.jpg 1x,
                    /img/tublet/rooms_page/header_slider/2image@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/mobile/rooms_page/hero_slider/2image@1x.jpg 1x,
                    /img/mobile/rooms_page/hero_slider/2image@2x.jpg 2x
                  "
                />
                <img
                  src="/img/mobile/rooms_page/hero_slider/1image@2x.jpg"
                  alt="comfortable hotel's room"
                  loading="lazy"
                  class="hero-room-picture"
                />
              </picture>
            </div>
            <div class="parooh-slider-pic">
              <picture class="parooh-slider-item">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/desctop/rooms_page/hero_slider/3image@1x.jpg 1x,
                    /img/desctop/rooms_page/hero_slider/3image@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width:768px) and (max-width: 1439px)"
                  srcset="
                    /img/tublet/rooms_page/header_slider/3image@1x.jpg 1x,
                    /img/tublet/rooms_page/header_slider/3image@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/mobile/rooms_page/hero_slider/3image@1x.jpg 1x,
                    /img/mobile/rooms_page/hero_slider/3image@2x.jpg 2x
                  "
                />
                <img
                  src="/img/mobile/rooms_page/hero_slider/3image@1x.jpg"
                  alt="comfortable hotel's room"
                  loading="lazy"
                  class="hero-room-picture"
                />
              </picture>
            </div>
            <div class="parooh-slider-pic">
              <picture class="parooh-slider-item">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/desctop/rooms_page/hero_slider/4image@1x.jpg 1x,
                    /img/desctop/rooms_page/hero_slider/4image@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width:768px) and (max-width: 1439px)"
                  srcset="
                    /img/tublet/rooms_page/header_slider/4image@1x.jpg 1x,
                    /img/tublet/rooms_page/header_slider/4image@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/mobile/rooms_page/hero_slider/4image@1x.jpg 1x,
                    /img/mobile/rooms_page/hero_slider/4image@2x.jpg 2x
                  "
                />
                <img
                  src="/img/mobile/rooms_page/hero_slider/4image@1x.jpg"
                  alt="comfortable hotel's room"
                  loading="lazy"
                  class="hero-room-picture"
                />
              </picture>
            </div>
            <div class="parooh-slider-pic">
              <picture class="parooh-slider-item">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/desctop/rooms_page/hero_slider/5image@1x.jpg 1x,
                    /img/desctop/rooms_page/hero_slider/5image@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width:768px) and (max-width: 1439px)"
                  srcset="
                    /img/tublet/rooms_page/header_slider/5image@1x.jpg 1x,
                    /img/tublet/rooms_page/header_slider/5image@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/mobile/rooms_page/hero_slider/5image@1x.jpg 1x,
                    /img/mobile/rooms_page/hero_slider/5image@2x.jpg 2x
                  "
                />
                <img
                  src="/img/mobile/rooms_page/hero_slider/5image@1x.jpg"
                  alt="comfortable hotel's room"
                  loading="lazy"
                  class="hero-room-picture"
                />
              </picture>
            </div>
            <div class="parooh-slider-pic">
              <picture class="parooh-slider-item">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /img/desctop/rooms_page/hero_slider/6image@1x.jpg 1x,
                    /img/desctop/rooms_page/hero_slider/6image@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width:768px) and (max-width: 1439px)"
                  srcset="
                    /img/tublet/rooms_page/header_slider/6image@1x.jpg 1x,
                    /img/tublet/rooms_page/header_slider/6image@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/mobile/rooms_page/hero_slider/6image@1x.jpg 1x,
                    /img/mobile/rooms_page/hero_slider/6image@2x.jpg 2x
                  "
                />
                <img
                  src="/img/mobile/rooms_page/hero_slider/6image@1x.jpg"
                  alt="comfortable hotel's room"
                  loading="lazy"
                  class="hero-room-picture"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
