<!----------DOUBLE-LUXORY-ROOM----------------->
<section class="h-rooms container">
  <ul class="h-rooms-list">
    <li class="h-rooms-item">
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/desctop/hotel_page/dbl_room/1img@1x.jpg 1x,
            /img/desctop/hotel_page/dbl_room/1img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/tublet/hotel_page/dbl_room/1img@1x.jpg 1x,
            /img/tublet/hotel_page/dbl_room/1img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            /img/mobile/hotel_page/dbl_room/1img@1x.jpg 1x,
            /img/mobile/hotel_page/dbl_room/1img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="h-rooms-img1"
          src="/img/mobile/hotel_page/dbl_room/1img@1x.jpg"
          alt="bedroom"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="h-rooms-item">
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/desctop/hotel_page/dbl_room/2img@1x.jpg 1x,
            /img/desctop/hotel_page/dbl_room/2img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/tublet/hotel_page/dbl_room/2img@1x.jpg 1x,
            /img/tublet/hotel_page/dbl_room/2img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            /img/mobile/hotel_page/dbl_room/2img@1x.jpg 1x,
            /img/mobile/hotel_page/dbl_room/2img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="h-rooms-img2"
          src="/img/mobile/hotel_page/dbl_room/2img@1x.jpg"
          alt="bathroom"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="h-rooms-item">
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/desctop/hotel_page/dbl_room/3img@1x.jpg 1x,
            /img/desctop/hotel_page/dbl_room/3img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            /img/tublet/hotel_page/dbl_room/3img@2x.jpg 1x,
            /img/tublet/hotel_page/dbl_room/3img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            /img/mobile/hotel_page/dbl_room/3img@1x.jpg 1x,
            /img/mobile/hotel_page/dbl_room/3img@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="h-rooms-img3"
          src="/img/mobile/hotel_page/dbl_room/3img@1x.jpg"
          alt="kitchen"
          loading="lazy"
        />
      </picture>
    </li>
  </ul>
  <div class="h-rooms-description">
    <div class="h-rooms-entire-txt">
      <h2 class="h-rooms-title">DOUBLE LUXURY ROOM</h2>
      <div class="h-rooms-paragraph">
        <p class="h-rooms-text">
          Experience luxury in our Double Luxury Room at Mimino Hotel. This
          spacious room features a comfortable bed, private bathroom,
          flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
          curtains, and soundproofing ensure a peaceful night's sleep.
        </p>
        <p class="h-rooms-subtext">
          Relax after a busy day at the writing desk or armchair. Book now for a
          convenient and comfortable stay.
        </p>
      </div>
    </div>
    <ul class="h-rooms-btn-list">
      <li class="h-rooms-btn-item">
        <a class="current" href="./room.html">
          <button class="h-rooms-btn" type="button">MORE DETAILS</button>
        </a>
      </li>
      <li class="h-rooms-btn-item">
        <button class="h-rooms-btn" type="button">VIEW PRICES</button>
      </li>
    </ul>
  </div>
</section>
