<!----------DOUBLE-LUXORY-ROOM----------------->
<section class="">
    <div class="">
        <div class="">
        <ul class="">
            <li class="">
                <img src="./../../img/mobile/hotel_page/dbl_room/1img@1x.jpg"
                alt="bedroom" 
               
                width="335" height="468">
            </li>
            <li class="">
                <img src="./../../img/mobile/hotel_page/dbl_room/2img@1x.jpg"
                alt="bathroom" 
             
                width="158" height="149">
            </li>
            <li class="">
                <img src="./../../img/mobile/hotel_page/dbl_room/3img@1x.jpg"
                alt="kitchen" 
            
                width="158" height="149">
            </li>
        </ul>
        <h2 class="">DOUBLE LUXURY ROOM</h2>
        <p class="">Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious room features a comfortable bed, private bathroom, flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure a peaceful night's sleep.</p>
       <p class="">Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.</p>
       <ul>
        <li class=""><button class="" type="button">MORE DETAILS</button></li>
        <li class=""><button class="" type="button">VIEW PRICES</button></li>
       </ul>
    </div>

    <!--TRIPLE-ROOM-->
    <div class="">
        <ul class="">
            <li class="">
                <img src="./../../img/mobile/hotel_page/trpl_room/1img@1x.jpg"
                alt="bed" 
               
                width="335" height="468">
            </li>
            <li class="">
                <img src="./../../img/mobile/hotel_page/trpl_room/3img@1x.jpg"
                alt="bathroom" 
             
                width="158" height="149">
            </li>
            <li class="">
                <img src="./../../img/mobile/hotel_page/trpl_room/2img@1x.jpg"
                alt="kitchen" 
            
                width="158" height="149">
            </li>
        </ul>
        <h2 class="">TRIPLE ROOM</h2>
        <p class="">Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
       <p class="">Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.</p>
       <ul>
        <li class=""><button class="" type="button">MORE DETAILS</button></li>
        <li class=""><button class="" type="button">VIEW PRICES</button></li>
       </ul>
    </div>
    <!--FOUR-SEATER-ROOM-->
    <div class="">
        <ul class="">
            <li class="">
                <img src="./../../img/mobile/hotel_page/four_seater_room/1img@1x.jpg"
                alt="bed" 
               
                width="335" height="468">
            </li>
            <li class="">
                <img src="./../../img/mobile/hotel_page/four_seater_room/2img@1x.jpg"
                alt="bathroom" 
             
                width="158" height="149">
            </li>
            <li class="">
                <img src="./../../img/mobile/hotel_page/four_seater_room/3img@1x.jpg"
                alt="kitchen" 
            
                width="158" height="149">
            </li>
        </ul>
        <h2 class="">FOUR-SEATER ROOM</h2>
        <p class="">Our 4-person room is perfect for small groups, offering comfort and convenience with 4 comfortable beds, ample storage, flat-screen TV, mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and soundproof walls. Book now for a memorable stay.</p>
      
       <ul>
        <li class=""><button class="" type="button">MORE DETAILS</button></li>
        <li class=""><button class="" type="button">VIEW PRICES</button></li>
       </ul>
    </div>

    </div>
</section>