<!----------DOUBLE-LUXORY-ROOM----------------->
<section class="">
   
        <div class="">
        <ul class="">
            <li class="">
                <img src="./../../img/mobile/hotel_page/dbl_room/1img@1x.jpg"
                alt="bedroom" 
               
                width="335" height="468">
            </li>
            <li class="">
                <img src="./../../img/mobile/hotel_page/dbl_room/2img@1x.jpg"
                alt="bathroom" 
             
                width="158" height="149">
            </li>
            <li class="">
                <img src="./../../img/mobile/hotel_page/dbl_room/3img@1x.jpg"
                alt="kitchen" 
            
                width="158" height="149">
            </li>
        </ul>
        <h2 class="">DOUBLE LUXURY ROOM</h2>
        <p class="">Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious room features a comfortable bed, private bathroom, flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure a peaceful night's sleep.</p>
       <p class="">Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.</p>
       <ul>
        <li class=""><button class="" type="button">MORE DETAILS</button></li>
        <li class=""><button class="" type="button">VIEW PRICES</button></li>
       </ul>
    </div>

   
    
</section>