<!--FOUR-SEATER-ROOM-->
<section class="fs-rooms-bgcolor">
  <div class="h-fs-rooms container">
    <div class="h-fs-rooms-wrapper">
      <div class="fs-first">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/desctop/hotel_page/four_seater_room/1img@1x.jpg 1x,
              /img/desctop/hotel_page/four_seater_room/1img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tublet/hotel_page/four_seater_room/1img@1x.jpg 1x,
              /img/tublet/hotel_page/four_seater_room/1img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/hotel_page/four_seater_room/1img@1x.jpg 1x,
              /img/mobile/hotel_page/four_seater_room/1img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="/img/mobile/hotel_page/four_seater_room/1img@1x.jpg"
            alt="bed"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="fs-second">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/desctop/hotel_page/four_seater_room/2img@1x.jpg 1x,
              /img/desctop/hotel_page/four_seater_room/2img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tublet/hotel_page/four_seater_room/2img@1x.jpg 1x,
              /img/tublet/hotel_page/four_seater_room/2img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/hotel_page/four_seater_room/2img@1x.jpg 1x,
              /img/mobile/hotel_page/four_seater_room/2img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="/img/mobile/hotel_page/four_seater_room/2img@1x.jpg"
            alt="bathroom"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="fs-third">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/desctop/hotel_page/four_seater_room/3img@1x.jpg 1x,
              /img/desctop/hotel_page/four_seater_room/3img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tublet/hotel_page/four_seater_room/3img@2x.jpg 1x,
              /img/tublet/hotel_page/four_seater_room/3img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/hotel_page/four_seater_room/3img@1x.jpg 1x,
              /img/mobile/hotel_page/four_seater_room/3img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="/img/mobile/hotel_page/four_seater_room/3img@1x.jpg"
            alt="kitchen"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="h-fs-rooms-description">
      <div class="h-fs-rooms-entire-txt">
        <h2 class="h-fs-rooms-title">FOUR-SEATER ROOM</h2>
        <p class="h-fs-rooms-text">
          Our 4-person room is perfect for small groups, offering comfort and
          convenience with 4 comfortable beds, ample storage, flat-screen TV,
          mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
          and soundproof walls. Book now for a memorable stay.
        </p>
      </div>
      <div class="h-fs-rooms-btn-list">
        <a class="current" href="./room.html">
          <button class="h-fs-rooms-btn" type="button">MORE DETAILS</button>
        </a>
        <button class="h-fs-rooms-btn" type="button">VIEW PRICES</button>
      </div>
    </div>
  </div>
</section>
