<!--FOUR-SEATER-ROOM-->
<section>
<div class="">
    <ul class="">
        <li class="">
            <img src="./../../img/mobile/hotel_page/four_seater_room/1img@1x.jpg"
            alt="bed" 
           
            width="335" height="468">
        </li>
        <li class="">
            <img src="./../../img/mobile/hotel_page/four_seater_room/2img@1x.jpg"
            alt="bathroom" 
         
            width="158" height="149">
        </li>
        <li class="">
            <img src="./../../img/mobile/hotel_page/four_seater_room/3img@1x.jpg"
            alt="kitchen" 
        
            width="158" height="149">
        </li>
    </ul>
    <h2 class="">FOUR-SEATER ROOM</h2>
    <p class="">Our 4-person room is perfect for small groups, offering comfort and convenience with 4 comfortable beds, ample storage, flat-screen TV, mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and soundproof walls. Book now for a memorable stay.</p>
  
   <ul>
    <li class=""><button class="" type="button">MORE DETAILS</button></li>
    <li class=""><button class="" type="button">VIEW PRICES</button></li>
   </ul>
</div>
</section>
