<section class="hotel-hero container">
  <h1 class="hotel-hero-title">Hotel</h1>
  <ul class="hero-list-btn">
    <button class="hotel-hero-btn" type="button">book a room</button>
    <button class="hotel-hero-btn" type="button">View prices</button>
  </ul>
  <div class="slider slider-container">
    <div class="slider-img">
      <img
        height="429"
        width="250"
        src="./../../img/mobile/hotel_page/hero_slider/1image@1x.jpg"
        alt="hotel"
      />
    </div>
    <div class="slider-img">
      <img
        height="429"
        width="250"
        src="./../../img/mobile/hotel_page/hero_slider/2image@1x.jpg"
        alt="hotel"
      />
    </div>
    <div class="slider-img">
      <img
        height="429"
        width="250"
        src="./../../img/mobile/hotel_page/hero_slider/3image@1x.jpg"
        alt="hotel"
      />
    </div>
  </div>
  <p class="hotel-hero-description">
    Whether you're in the mood for a hearty breakfast, a light lunch, or a
    <span class="part-hotel-hero-description">romantic dinner</span> , our menu
    has something for everyone.
  </p>
</section>
