<!--TRIPLE-ROOM-->
<section class="h-rooms-bgcolor">
  <div class="h-rooms container">
    <div class="h-rooms-wrapper">
      <div class="first">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/desctop/hotel_page/trpl_room/2img@1x.jpg 1x,
              /img/desctop/hotel_page/trpl_room/2img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tublet/hotel_page/trpl_room/1img@1x.jpg 1x,
              /img/tublet/hotel_page/trpl_room/1img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/hotel_page/trpl_room/1img@1x.jpg 1x,
              /img/mobile/hotel_page/trpl_room/1img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="/img/mobile/hotel_page/trpl_room/1img@1x.jpg"
            alt="bed"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="second">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/desctop/hotel_page/trpl_room/3img@1x.jpg 1x,
              /img/desctop/hotel_page/trpl_room/3img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tublet/hotel_page/trpl_room/2img@1x.jpg 1x,
              /img/tublet/hotel_page/trpl_room/2img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/hotel_page/trpl_room/3img@1x.jpg 1x,
              /img/mobile/hotel_page/trpl_room/3img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="/img/mobile/hotel_page/trpl_room/3img@1x.jpg"
            alt="bathroom"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="third">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/desctop/hotel_page/trpl_room/1img@1x.jpg 1x,
              /img/desctop/hotel_page/trpl_room/1img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tublet/hotel_page/trpl_room/3img@2x.jpg 1x,
              /img/tublet/hotel_page/trpl_room/3img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/hotel_page/trpl_room/2img@1x.jpg 1x,
              /img/mobile/hotel_page/trpl_room/2img@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="/img/mobile/hotel_page/trpl_room/2img@1x.jpg"
            alt="kitchen"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="h-rooms-description">
      <div class="h-rooms-entire-txt">
        <h2 class="h-rooms-title">TRIPLE ROOM</h2>
        <div class="h-rooms-paragraph">
          <p class="h-rooms-text">
            Escape to our spacious Triple Room, perfect for families or groups.
            Enjoy comfort with three beds, seating area, stunning views,
            flat-screen TVs, Wi-Fi, and mini-fridge.
          </p>
          <p class="h-rooms-subtext">
            Rejuvenate in the en-suite bathroom with plush towels and
            toiletries. Book now for a memorable stay.
          </p>
        </div>
      </div>
      <div class="h-rooms-btn-list">
        <a class="current" href="./room.html">
          <button class="h-rooms-btn" type="button">MORE DETAILS</button>
        </a>
        <button class="h-rooms-btn" type="button">VIEW PRICES</button>
      </div>
    </div>
  </div>
</section>
