<!--TRIPLE-ROOM-->
<section class="container">
  <div class="">
    <ul class="">
      <li class="">
        <img
          src="/img/mobile/hotel_page/trpl_room/1img@1x.jpg"
          alt="bed"
          width="335"
          height="468"
        />
      </li>
      <li class="">
        <img
          src="/img/mobile/hotel_page/trpl_room/3img@1x.jpg"
          alt="bathroom"
          width="158"
          height="149"
        />
      </li>
      <li class="">
        <img
          src="/img/mobile/hotel_page/trpl_room/2img@1x.jpg"
          alt="kitchen"
          width="158"
          height="149"
        />
      </li>
    </ul>
    <h2 class="">TRIPLE ROOM</h2>
    <p class="">
      Escape to our spacious Triple Room, perfect for families or groups. Enjoy
      comfort with three beds, seating area, stunning views, flat-screen TVs,
      Wi-Fi, and mini-fridge.
    </p>
    <p class="">
      Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book
      now for a memorable stay.
    </p>
    <ul>
      <li class=""><button class="" type="button">MORE DETAILS</button></li>
      <li class=""><button class="" type="button">VIEW PRICES</button></li>
    </ul>
  </div>
</section>
