<!--footer-->

<footer class="footer-section container">
  <nav class="footer-nav">
    <ul class="menu-footer">
      <li class="menu-footer-item">
        <a class="menu-footer-link" href="../index.html">Home</a>
      </li>
      <li class="menu-footer-item">
        <a class="menu-footer-link" href="../hotel.html">Hotel</a>
      </li>
      <li class="menu-footer-item">
        <a class="menu-footer-link" href="../restaurant.html">Restaurant</a>
      </li>
    </ul>
    <a class="footer-logo" href="../index.html"
      >Mimino <span class="footer-logo-bottom">restaurant-hotel complex</span>
    </a>

    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="footer-social-link"
          href="https://www.instagram.com/"
        >
          <svg class="footer-social-icon" width="24" height="24">
            <use href="/img/icons/sprite.svg#icon-instagram-black"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="footer-social-link"
          href="https://www.facebook.com/"
        >
          <svg class="footer-social-icon" width="24" height="24">
            <use href="/img/icons/sprite.svg#icon-facebook-black"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="footer-social-link"
          href="https://twitter.com/?lang=uk"
        >
          <svg class="footer-social-icon" width="24" height="24">
            <use href="/img/icons/sprite.svg#icon-twitter-black"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</footer>

<!--/footer-->
