<a href="index.html">Main</a>
<a href="hotel.html">Hotel</a>
<a href="restaurant.html">Restaurant</a>
<a href="room.html">Room</a>

<header class="header container">
  <div class="header-control">
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link" href="index.html">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="hotel.html">Hotel</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="restaurant.html">Restaurant</a>
        </li>
      </ul>
    </nav>

    <a class="header-logo" href=""
      >Mimino
      <span class="header-logo--conrol">restaurant-hotel complex</span></a
    >

    <ul class="header-social">
      <li class="header-social__item">
        <a class="header-social__link" href="">
          <svg class="header-social__icon" width="24" height="24">
            <use href="../img/icons/sprite.svg#icon-instagram-white"></use>
          </svg>
        </a>
      </li>
      <li class="header-social__item">
        <a class="header-social__link" href="">
          <svg class="header-social__icon" width="24" height="24">
            <use href="../img/icons/sprite.svg#icon-facebook-white"></use>
          </svg>
        </a>
      </li>
      <li class="header-social__item">
        <a class="header-social__link" href="">
          <svg class="header-social__icon" width="24" height="24">
            <use href="../img/icons/sprite.svg#icon-twitter-white"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-menu__icon" width="32" height="32">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>

<ul class="mobile-menu">
        <li class="mobile-menu__item">
          <a href="./index.html" class="mobile-menu__link "></a>
        </li>
        <li class="mobile-menu__item">
          <a href="./portfolio.html" class="mobile-menu__link"></a>
        </li>
        <li class="mobile-menu__item"><a href="" class="mobile-menu__link"></a></li>
      </ul>
      <ul class="mobile-contacts">
        <li class="mobile-contacts__item--blue">
          <a class="mobile-contacts__link" href="#"></a>
        </li>
        <li class="mobile-contacts__item">
          <a class="mobile-contacts__link" href="#"></a>
        </li>
      </ul>
      <ul class="mobile-socials">
        <li class="mobile-socials__item"><a class="mobile-socials__link" href="#">Instagram</a></li>
        <li class="mobile-socials__item"><a class="mobile-socials__link" href="#">Facebook</a></li>
        <li class="mobile-socials__item"><a class="mobile-socials__link" href="#">Twitter</a></li>
      </ul>
    </div>
