<header class="header">
  <div class="header-control container">
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link" href="index.html">Main</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="hotel.html">Hotel</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="restaurant.html">Restaurant</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="room.html">Room</a>
        </li>
      </ul>
    </nav>

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-menu__icon" width="32" height="32">
        <use href="/img/icons/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <a class="header-logo" href=""
      >Mimino
      <span class="header-logo--conrol">restaurant-hotel complex</span></a
    >

    <ul class="header-social">
      <li class="header-social__item">
        <a class="header-social__link" href="">
          <svg class="header-social__icon" width="24" height="24">
            <use href="/img/icons/sprite.svg#icon-instagram-white"></use>
          </svg>
        </a>
      </li>
      <li class="header-social__item">
        <a class="header-social__link" href="">
          <svg class="header-social__icon" width="24" height="24">
            <use href="/img/icons/sprite.svg#icon-facebook-white"></use>
          </svg>
        </a>
      </li>
      <li class="header-social__item">
        <a class="header-social__link" href="">
          <svg class="header-social__icon" width="24" height="24">
            <use href="/img/icons/sprite.svg#icon-twitter-white"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="border-bottom">
    <button class="menu-toggle--close js-close-menu">
      <svg class="" width="28" height="28">
        <use href="/img/icons/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <a class="header-logo" href=""
      >Mimino
      <span class="header-logo--conrol">restaurant-hotel complex</span></a
    >
  </div>
  <ul class="mobile-menu">
    <li><a href="" class="mobile-menu__link">Home</a></li>
    <li><a href="" class="mobile-menu__link">Hotel</a></li>
    <li><a href="" class="mobile-menu__link">Restaurant</a></li>
  </ul>

  <ul class="mobile-menu-social">
    <li class="mobile-menu-social__item">
      <a class="mobile-menu-social__link" href="">
        <svg class="mobile-menu-social__icon" width="24" height="24">
          <use href="/img/icons/sprite.svg#icon-instagram-white"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social__item">
      <a class="mobile-menu-social__link" href="">
        <svg class="mobile-menu-social__icon" width="24" height="24">
          <use href="/img/icons/sprite.svg#icon-facebook-white"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social__item">
      <a class="mobile-menu-social__link" href="">
        <svg class="mobile-menu-social__icon" width="24" height="24">
          <use href="/img/icons/sprite.svg#icon-twitter-white"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
