<header class="header container">
  <div class="header-control">
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link current" href="index.html">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link current" href="hotel.html">Hotel</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link current" href="restaurant.html"
            >Restaurant</a
          >
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link current" href="room.html">Room</a>
        </li>
      </ul>
    </nav>

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-menu__icon" width="32" height="32">
        <use href="/img/icons/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <a class="header-logo" href="index.html"
      >Mimino
      <span class="header-logo--control">restaurant-hotel complex</span></a
    >

    <ul class="header-social">
      <li class="header-social__item">
        <a
          class="header-social__link"
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-social__icon" width="24" height="24">
            <use href="/img/icons/sprite.svg#icon-instagram-white"></use>
          </svg>
        </a>
      </li>
      <li class="header-social__item">
        <a
          class="header-social__link"
          href="https://uk-ua.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-social__icon" width="24" height="24">
            <use href="/img/icons/sprite.svg#icon-facebook-white"></use>
          </svg>
        </a>
      </li>
      <li class="header-social__item">
        <a
          class="header-social__link"
          href="https://twitter.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-social__icon" width="24" height="24">
            <use href="/img/icons/sprite.svg#icon-twitter-white"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="border-bottom">
    <button class="menu-toggle--close js-close-menu">
      <svg class="" width="28" height="28">
        <use href="/img/icons/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <a class="mobile-menu-logo" href="index.html"
      >Mimino
      <span class="mobile-menu-logo--control">restaurant-hotel complex</span></a
    >
  </div>
  <ul class="mobile-menu">
    <li><a href="index.html" class="mobile-menu__link">Home</a></li>
    <li><a href="hotel.html" class="mobile-menu__link">Hotel</a></li>
    <li>
      <a href="restaurant.html" class="mobile-menu__link">Restaurant</a>
    </li>
    <li><a href="room.html" class="mobile-menu__link">Room</a></li>
  </ul>

  <ul class="mobile-menu-social">
    <li class="mobile-menu-social__item">
      <a
        class="mobile-menu-social__link"
        href="https://www.instagram.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mobile-menu-social__icon" width="24" height="24">
          <use href="/img/icons/sprite.svg#icon-instagram-white"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social__item">
      <a
        class="mobile-menu-social__link"
        href="https://uk-ua.facebook.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mobile-menu-social__icon" width="24" height="24">
          <use href="/img/icons/sprite.svg#icon-facebook-white"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social__item">
      <a
        class="mobile-menu-social__link"
        href="https://twitter.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mobile-menu-social__icon" width="24" height="24">
          <use href="/img/icons/sprite.svg#icon-twitter-white"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
