.section-amenities {
  /* padding: 40px 20px 64px 20px; */
  padding-top: 40px;

  background-color: var(--backcolor-dark);
}
.container-amenities {
  max-width: 335px;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  color: var(--paragraph-whitecolor);
  text-transform: uppercase;
}
.container-amenities:not(:last-child) {
  margin-bottom: 40px;
}

.list-amenities {
  list-style: inside;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-left: 20px;
  list-style-position: outside;
}
.head-amenities {
  font-size: 28px;
  line-height: 1.14;
  margin-bottom: 28px;
}
.thumb-amenities {
  position: relative;
  padding-top: 24px;
}

.img-block {
  display: block;
  margin-left: auto;
}
.thumb-absolute {
  position: absolute;
  top: 168px;
  left: 0;
}
.btn-amenitiens {
  display: block;
  text-transform: uppercase;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 175px;
  height: 34px;

  border: 0.8px solid #f7f7f7;
  border-radius: 32px;
  background-color: var(--backcolor-dark);
  color: #f7f7f7;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.btn-amenitiens:hover,
.btn-amenitiens:focus {
  border: 0.8px solid var(--white-header-color);
  background-color: var(--white-header-color);
  color: var(--burger-symbols-dark);
}

.cont-tab {
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .container-amenities {
    max-width: 768px;
  }
  .head-amenities {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }

  .list-amenities {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }
  .btn-amenitiens {
    position: absolute;
    top: 352px;
    left: 32px;
    min-width: 143px;
    height: 40px;
  }
  .cont-tab {
    padding-bottom: 80px;
  }
  .thumb-amenities {
    padding-top: 82px;
  }
}
@media screen and (min-width: 1440px) {
  .thumb-flex1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 70px;
    margin-bottom: 100px;
  }
  .thumb-flex2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 230px;
    margin-bottom: 100px;
  }

  .btn-amenitiens {
    left: 518px;
    top: 427px;
    min-width: 170px;
    height: 42px;
    font-size: 18px;
    line-height: 1.33;
  }
  .container-amenities {
    max-width: 1440px;
  }
  .thumb-absolute {
    left: 518px;
    top: 208px;
  }
  .thumb-amenities {
    padding-top: 0;
  }
  .cont-tab {
    padding-bottom: 100px;
  }
}
