body {
   font-family: DM Sans, sans-serif;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   margin: 0;
   color: var(--primary-text-color);
}

/* container */

.container {
   width: 100vw;
   margin-right: auto;
   margin-left: auto;
}

@media screen and (max-width: 767px) {
   .container {
      max-width: 375px;
      padding-left: 20px;
      padding-right: 20px;
      outline: 1px solid blue;
   }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
   .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
      outline: 1px solid green;
   }
}

@media screen and (min-width: 1440px) {
   .container {
      max-width: 1440px;
      padding-left: 32px;
      padding-right: 32px;
      outline: 1px solid tomato;
   }
}