.header {
  background-color: var(--backcolor-dark);
}

.header-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav {
  display: none;
}

.header-nav__list {
}

.header-nav__item {
}

.header-nav__link {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header-logo {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #f7f7f7;
}

.header-logo--conrol {
  font-weight: 400;
  font-size: 6px;
  line-height: 1.3;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--lightwhite-paragraph);
}

.header-social {
  display: none;
}

.header-social__item {
}

.header-social__link {
}

.header-social__icon {
}
