<!-- About a complex/abaco -->
<section class="section abaco container">
        <div class="abaco">
            <h1 class="About-complex" hidden>About complex</h1>
            <!-- Top part -->

            <div class="top-part-abaco">
                <div class="wraper-relative-top">
                    <picture>
                        <source media="(min-width: 1440px)"
                                srcset="/img/desctop/main_page/about_a_complex/1img@1x.jpg 1x,
                                        /img/desctop/main_page/about_a_complex/1img@2x.jpg 2x">
                        <source media="(min-width:768px) and (max-width: 1439px)" 
                                srcset="/img/tublet/main_page/about_a_complex/1imag@1x.jpg 1x,
                                        /img/tublet/main_page/about_a_complex/1imag@2x.jpg 2x">
                        <source media="(max-width: 767px)" 
                                srcset="/img/mobile/main_page/about_a_complex/1imag@1x.jpg 1x,
                                        /img/mobile/main_page/about_a_complex/1imag@2x.jpg 2x">
                        <img src="/img/desctop/main_page/about_a_complex/1img@1x.jpg" 
                            class="abaco-hotel-hall" 
                            alt="hotel hall"
                            loading="lazy">
                    </picture>

                    <!-- Inside absolut position container -->
                    <div class="wraper-inside-top">
                        <div class="abaco-customer-feetback-top">
                            <div class="abaco-customer-info-feetback">
                                <h3 class="abaco-customer-title">Maria</h3>
                                <p class="abaco-customer-rating">give rating <span class="abaco-rate">4.5</span></p>
                            </div >
                            <picture>
                                <source media="(min-width: 1440px)"
                                        srcset="/img/desctop/main_page/about_a_complex/maria_cast@1x.png 1x,
                                                /img/desctop/main_page/about_a_complex/maria_cast@2x.png 2x">
                                <source media="(min-width:768px) and (max-width: 1439px)" 
                                        srcset="/img/tublet/main_page/about_a_complex/maria_cast@1x.png 1x,
                                                /img/tublet/main_page/about_a_complex/maria_cast@2x.png 2x">
                                <source media="(max-width: 767px)" 
                                        srcset="/img/mobile/main_page/about_a_complex/maria_cast@1x.png 1x,
                                                /img/mobile/main_page/about_a_complex/maria_cast@2x.png 2x">
                                <img src="/img/mobile/main_page/about_a_complex/maria_cast@1x.png" 
                                     alt="abaco-customer-mark"
                                     class="customer-pic top"
                                    loading="lazy">
                            </picture>
                        </div>
                        <div class="wraper-absolut-position-image">
                            <picture>
                                <source media="(min-width: 1440px)"
                                        srcset="/img/desctop/main_page/about_a_complex/2img@1x.jpg 1x,
                                                /img/desctop/main_page/about_a_complex/2img@2x.jpg 2x">
                                <source media="(min-width: 768px) and (max-width: 1439px)"
                                        srcset="/img/tublet/main_page/about_a_complex/2image@1x.jpg 1x,
                                                /img/tublet/main_page/about_a_complex/2image@2x.jpg 2x">
                                <source media="(max-width: 767px)"
                                        srcset="/img/mobile/main_page/about_a_complex/2imag@1x.jpg 1x,
                                                /img/mobile/main_page/about_a_complex/2imag@2x.jpg 2x">
                                <img src="/img/mobile/main_page/about_a_complex/2imag@1x.jpg" 
                                     alt="hotel bath"
                                     class="abaco-hotel-bath"
                                     loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="abaco-top-text-part">
                    <h3 class="abaco-title">restaurant-hotel complex</h3>
                    <p class="abaco-text one">Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most succulent steaks, every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</p>
                    <p class="abaco-text two">Treat yourself to a taste of the good life and come dine with us today!</p>
                </div >
            </div>

            <!-- Botoom part -->
            <div class="bottom-part-abaco">
                <div class="wraper-relative-bottom">
                    <picture>
                        <source media="(min-width: 1440px)"
                                srcset="/img/desctop/main_page/about_a_complex/3img@1x.jpg 1x,
                                        /img/desctop/main_page/about_a_complex/3img@2x.jpg 2x">
                        <source media="(min-width: 768px) and (max-width: 1439px)"
                                srcset="/img/tublet/main_page/about_a_complex/3image@1x.jpg 1x,
                                        /img/tublet/main_page/about_a_complex/3image@2x.jpg 2x">
                        <source media="(max-width: 767px)"
                                srcset="/img/mobile/main_page/about_a_complex/3image@1x.jpg 1x,
                                        /img/mobile/main_page/about_a_complex/3image@2x.jpg 2x">
                        <img src="/img/mobile/main_page/about_a_complex/3image@1x.jpg"
                             alt="hotel table"
                             class="abaco-hotel-table"
                             loading="lazy">
                    </picture>

                    <!-- Inside absolut position container -->
                    <div class="wrapper-inside-bottom">
                    <div  class="abaco-customer-feetback-bottom">
                            <div class="abaco-customer-rating">
                                <h3 class="abaco-customer-title">Alexander</h3>
                                <p class="abaco-customer-rating">give rating <span class="abaco-rate">5.5</span></p>
                            </div >
                            <picture>
                                <source media="(min-width: 1440px)"
                                        srcset="/img/desctop/main_page/about_a_complex/olexandr_cast@1x.png 1x,
                                                /img/desctop/main_page/about_a_complex/olexandr_cast@2x.png 2x">
                                <source media="(min-width: 768px) and (max-width: 1439px)"
                                        srcset="/img/tublet/main_page/about_a_complex/oleksandr_cast@1x.png 1x,
                                                /img/tublet/main_page/about_a_complex/oleksandr_cast@2x.png 2x">
                                <source media="(max-width: 767px)"
                                        srcset="/img/mobile/main_page/about_a_complex/oleksandr_cast@1x.png 1x,
                                                /img/mobile/main_page/about_a_complex/oleksandr_cast@2x.png 2x">
                                <img src="/img/mobile/main_page/about_a_complex/oleksandr_cast@1x.png"
                                        alt="abaco-customer-mark"
                                        class="customer-pic"
                                        loading="lazy">
                            </picture>
                </div>
                <div class="abaco-bottom-block">
                    <div class="abaco-bottom-block-text">
                        <h3 class="abaco-title">business class hotel</h3>
                        <p class="abaco-text three">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.</p>
                    </div >
                    <picture>
                        <source media="(min-width: 1440px)"
                                srcset="/img/desctop/main_page/about_a_complex/4img@1x.jpg 1x,
                                        /img/desctop/main_page/about_a_complex/4img@2x.jpg 2x">
                        <source media="(min-width: 768px) and (max-width: 1439px)"
                                srcset="/img/tublet/main_page/about_a_complex/4image@1x.jpg 1x,
                                        /img/tublet/main_page/about_a_complex/4image@2x.jpg 2x">
                        <source media="(max-width: 767px)"
                                srcset="/img/mobile/main_page/about_a_complex/4image@1x.jpg 1x,
                                        /img/mobile/main_page/about_a_complex/4image@2x.jpg 2x">
                        <img src="/img/mobile/main_page/about_a_complex/4image@1x.jpg"
                                alt="hotel rest"
                                class="abaco-hotel-rest"
                                loading="lazy">
                    </picture>
                </div >
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- About a complex -->
