<section class="hero-main container">
  <div class="hero-main-wrraper">
    <div class="hero-wrraper-img">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/desctop/main_page/hero/main_header_pic@1x.jpg 1x,
            /img/desctop/main_page/hero/main_header_pic@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/tublet/main_page/hero/hero@1x.jpg 1x,
            /img/tublet/main_page/hero/hero@2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width:767px)"
          srcset="
            /img/mobile/main_page/hero/hero_mobile@1x.jpg 1x,
            /img/mobile/main_page/hero/hero_mobile@2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="hero-main-img"
          width="542"
          height="770"
          src="/img/mobile/main_page/hero/hero_mobile@1x.jpg"
          alt="hotel"
          loading="lazy"
        />
      </picture>
    </div>

    <h1 class="hero-main__title">Mimino</h1>
    <ul class="hero-main__list">
      <li class="hero-main__item">
        <button class="hero-main__btn" type="button">book a room</button>
      </li>
      <li class="hero-main__item">
        <button class="hero-main__btn" type="button">book a table</button>
      </li>
    </ul>

    <div class="hero-main-control">
      <p class="hero-main__text">
        Whether you're in the mood for a hearty breakfast, a light lunch, or a
        romantic dinner, our menu has something for everyone.
      </p>
      <p class="hero-main__text">
        At Hotel Mimino, we believe that great food should be available to
        everyone, no matter the time of day.
      </p>
    </div>
  </div>
</section>
