<!-- Section hotel details -->
<section class="section section-hotel-main">
  <div class="container hotel-main-container">
    <div class="hotel-main">
      <h2 class="hotel-main-title title">Hotel</h2>
      <p class="hotel-main-subtitle">
        Book your stay with us now and experience the epitome of comfort and
        luxury at our hotel. We guarantee you'll be thrilled with your decision.
      </p>
    </div>
    <div class="hotel-main-img">
      <div class="hotel-main-item-first">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/desctop/main_page/hotel’s_details/bed_room@1x.jpg 1x,
              ./img/desctop/main_page/hotel’s_details/bed_room@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/tublet/main_page/hotel’s_details/bed_room@1x.jpg 1x,
              ./img/tublet/main_page/hotel’s_details/bed_room@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            class="welcome-img"
            srcset="
              ./img/mobile/main_page/hotel’s_details/bed_room@1x.jpg 1x,
              ./img/mobile/main_page/hotel’s_details/bed_room@2x.jpg  2x
            "
            src="./../../img/desctop/main_page/hotel’s_details/bed_room@1x.jpg"
            alt="bedroom"
          />
        </picture>
      </div>
      <div class="hotel-main-item-second">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/desctop/main_page/hotel’s_details/shampoo@1x.jpg 1x,
              ./img/desctop/main_page/hotel’s_details/shampoo@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/tublet/main_page/hotel’s_details/shampoo@1x.jpg 1x,
              ./img/tublet/main_page/hotel’s_details/shampoo@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            class="welcome-img"
            srcset="
              ./img/mobile/main_page/hotel’s_details/shampoo@1x.jpg 1x,
              ./img/mobile/main_page/hotel’s_details/shampoo@2x.jpg  2x
            "
            src="./../../img/mobile/main_page/hotel’s_details/shampoo@1x.jpg"
            alt="shampoo"
          />
        </picture>
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/desctop/main_page/hotel’s_details/bath@1x.jpg 1x,
              ./img/desctop/main_page/hotel’s_details/bath@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/tublet/main_page/hotel’s_details/bath@1x.jpg 1x,
              ./img/tublet/main_page/hotel’s_details/bath@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            class="welcome-img"
            srcset="
              ./img/mobile/main_page/hotel’s_details/bath@1x.jpg 1x,
              ./img/mobile/main_page/hotel’s_details/bath@2x.jpg  2x
            "
            src="./../../img/mobile/main_page/hotel’s_details/bath@1x.jpg"
            alt="bathroom"
          />
        </picture>
      </div>
      <div class="hotel-main-item-last">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/desctop/main_page/hotel’s_details/sink@1x.jpg 1x,
              ./img/desctop/main_page/hotel’s_details/sink@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/tublet/main_page/hotel’s_details/sink@1x.jpg 1x,
              ./img/tublet/main_page/hotel’s_details/sink@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            class="welcome-img"
            srcset="
              ./img/mobile/main_page/hotel’s_details/sink@1x.jpg 1x,
              ./img/mobile/main_page/hotel’s_details/sink@2x.jpg  2x
            "
            src="./../../img/mobile/main_page/hotel’s_details/sink@1x.jpg"
            alt="sink"
          />
        </picture>
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/desctop/main_page/hotel’s_details/cream@1x.jpg 1x,
              ./img/desctop/main_page/hotel’s_details/cream@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/tublet/main_page/hotel’s_details/cream@1x.jpg 1x,
              ./img/tublet/main_page/hotel’s_details/cream@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            class="welcome-img"
            srcset="
              ./img/mobile/main_page/hotel’s_details/cream@1x.jpg 1x,
              ./img/mobile/main_page/hotel’s_details/cream@2x.jpg  2x
            "
            src="./../../img/desctop/main_page/hotel’s_details/cream@1x.jpg"
            alt="cream"
          />
        </picture>
      </div>
    </div>
    <div class="hotel-main-btn">
      <button class="book-btn button btn-black" type="button">Book a room</button>
      <a href="./../../hotel.html" class="view-btn button btn-black">View room</a>
    </div>
  </div>
</section>
