<!-- Section Location & contacts  -->

<section class="location-section container">
  <div class="map-general">
    <h2 class="location-title">location</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2585.923397025346!2d34.5265463!3d49.599194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1sru!2sde!4v1677839789978!5m2!1sru!2sde"
      class="map"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <!-- Desctop -->
  <div class="map-desctop">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2585.923397025346!2d34.5265463!3d49.599194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1sru!2sde!4v1677839789978!5m2!1sru!2sde"
      class="map"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <div class="location-desctop">
      <h2 class="location-title">location</h2>

      <address class="location-address-desctop">
        <ul class="location-list list">
          <li class="location-map-item">
            <a
              class="location-link-map link"
              href="https://goo.gl/maps/meMDZ5WAnQuJYZpD8"
              target="_blank"
              >Ukraine, Poltava, <br />
              St. Marshal Biryuzov, 15</a
            >
          </li>
          <li class="location-text-item">
            <p class="location-text">call us:</p>
          </li>
        </ul>
        <ul class="location-nummer">
          <li class="location-nummer-item">
            <a class="location-link-nummer1 link" href="">(095) 555 95 33</a>
          </li>
          <li class="location-nummer-item">
            <a class="location-link-nummer2 link" href="">(066) 849 10 89</a>
          </li>
        </ul>
      </address>
    </div>
  </div>

  <!-- /Desctop -->

  <address class="location-address">
    <ul class="location-list list">
      <li class="location-map-item">
        <a
          class="location-link-map link"
          href="https://goo.gl/maps/meMDZ5WAnQuJYZpD8"
          target="_blank"
          >Ukraine, Poltava, <br />
          St. Marshal Biryuzov, 15</a
        >
      </li>
    </ul>
    <ul class="location-nummer">
      <li class="location-nummer-item">
        <p class="location-text">call us:</p>
        <a class="location-link-nummer1 link" href="">(095) 555 95 33</a>
      </li>
      <li class="location-nummer-item">
        <a class="location-link-nummer2 link" href="">(066) 849 10 89</a>
      </li>
    </ul>
  </address>
</section>

<!-- /Section Location & contacts  -->
