<section class="restourant-details-bgcolor">
  <div class="container restourant-details">
    <div class="decktop-rest-det">
      <div class="main-words-details">
        <h2 class="title-rest-det">Restaurant</h2>
        <p class="paragr-rest-det">
          Relax and unwind with our delicious offerings, available any time of
          day.
        </p>
      </div>

      <!-- Slider desctop-->

      <div class="restdet-slider-block restdet-slider-block-none">
        <div class="slider-restdet-desctop">
          <div class="slider-item-desctop-restdeet">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desctop/main_page/restourant_details_slider/1pic@1x.jpg 1x,
                  /img/desctop/main_page/restourant_details_slider/1pic@2x.jpg 2x
                "
              />
              <img
                src="/img/desctop/main_page/restourant_details_slider/1pic@1x.jpg 1x"
                class="pic-slider-restdet"
                alt="hotel restaurant"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="slider-item-desctop-restdeet">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desctop/main_page/restourant_details_slider/2pic@1x.jpg 1x,
                  /img/desctop/main_page/restourant_details_slider/2pic@2x.jpg 2x
                "
              />
              <img
                src="/img/desctop/main_page/restourant_details_slider/2pic@1x.jpg 1x"
                class="pic-slider-restdet"
                alt="hotel restaurant"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="slider-item-desctop-restdeet">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desctop/main_page/restourant_details_slider/3pic@1x.jpg 1x,
                  /img/desctop/main_page/restourant_details_slider/3pic@2x.jpg 2x
                "
              />
              <img
                src="/img/desctop/main_page/restourant_details_slider/3pic@1x.jpg 1x"
                class="pic-slider-restdet"
                alt="hotel restaurant"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="slider-item-desctop-restdeet">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desctop/main_page/restourant_details_slider/4pic@1x.jpg 1x,
                  /img/desctop/main_page/restourant_details_slider/4pic@2x.jpg 2x
                "
              />
              <img
                src="/img/desctop/main_page/restourant_details_slider/4pic@1x.jpg 1x"
                class="pic-slider-restdet"
                alt="hotel restaurant"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="slider-item-desctop-restdeet">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desctop/main_page/restourant_details_slider/5pic@1x.jpg 1x,
                  /img/desctop/main_page/restourant_details_slider/5pic@2x.jpg 2x
                "
              />
              <img
                src="/img/desctop/main_page/restourant_details_slider/5pic@1x.jpg 1x"
                class="pic-slider-restdet"
                alt="hotel restaurant"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="slider-item-desctop-restdeet">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desctop/main_page/restourant_details_slider/6pic@1x.jpg 1x,
                  /img/desctop/main_page/restourant_details_slider/6pic@2x.jpg 2x
                "
              />
              <img
                src="/img/desctop/main_page/restourant_details_slider/6pic@1x.jpg 1x"
                class="pic-slider-restdet"
                alt="hotel restaurant"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="slider-item-desctop-restdeet">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desctop/main_page/restourant_details_slider/7pic@1x.jpg 1x,
                  /img/desctop/main_page/restourant_details_slider/7pic@2x.jpg 2x
                "
              />
              <img
                src="/img/desctop/main_page/restourant_details_slider/7pic@1x.jpg 1x"
                class="pic-slider-restdet"
                alt="hotel restaurant"
                loading="lazy"
              />
            </picture>
          </div>
          <picture>
            <source
              media="(min-width: 1440px)"
              Margo,
              [07.03.2023
              17:20]
              srcset="
                /img/desctop/main_page/restourant_details_slider/8pic@1x.jpg 1x,
                /img/desctop/main_page/restourant_details_slider/8pic@2x.jpg 2x
              "
            />
            <img
              src="/img/desctop/main_page/restourant_details_slider/8pic@1x.jpg 1x"
              class="pic-slider-restdet"
              alt="hotel restaurant"
              loading="lazy"
            />
          </picture>
          <div class="slider-item-desctop-restdeet">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desctop/main_page/restourant_details_slider/9pic@1x.jpg 1x,
                  /img/desctop/main_page/restourant_details_slider/9pic@2x.jpg 2x
                "
              />
              <img
                src="/img/desctop/main_page/restourant_details_slider/9pic@1x.jpg 1x"
                class="pic-slider-restdet"
                alt="hotel restaurant"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="slider-item-desctop-restdeet">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desctop/main_page/restourant_details_slider/10pic@1x.jpg 1x,
                  /img/desctop/main_page/restourant_details_slider/10pic@2x.jpg 2x
                "
              />
              <img
                src="/img/desctop/main_page/restourant_details_slider/10pic@1x.jpg 1x"
                class="pic-slider-restdet"
                alt="hotel restaurant"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="restdet-slider-block-yes">
        <div class="slider-det-rest">
          <div class="slider-restdet">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/tublet/main_page/restourant_details_slider/1image@1x.jpg 1x,
                  /img/tublet/main_page/restourant_details_slider/1image@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/mobile/main_page/restourant_details_slider/1image@1x.jpg 1x,
                  /img/mobile/main_page/restourant_details_slider/1image@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="/img/mobile/main_page/restourant_details_slider/1image@1x.jpg"
                alt="restaurant"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="slider-restdet">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/tublet/main_page/restourant_details_slider/2image@1x.jpg 1x,
                  /img/tublet/main_page/restourant_details_slider/2image@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/mobile/main_page/restourant_details_slider/2image@1x.jpg 1x,
                  /img/mobile/main_page/restourant_details_slider/2image@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="/img/mobile/main_page/restourant_details_slider/2image@1x.jpg"
                alt="restaurant"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="slider-restdet">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/tublet/main_page/restourant_details_slider/3image@1x.jpg 1x,
                  /img/tublet/main_page/restourant_details_slider/3image@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/mobile/main_page/restourant_details_slider/3image@1x.jpg 1x,
                  /img/mobile/main_page/restourant_details_slider/3image@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="/img/mobile/main_page/restourant_details_slider/3image@1x.jpg"
                alt="restaurant"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="slider-restdet">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/tublet/main_page/restourant_details_slider/4image@1x.jpg 1x,
                  /img/tublet/main_page/restourant_details_slider/4image@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/mobile/main_page/restourant_details_slider/4image@1x.jpg 1x,
                  /img/mobile/main_page/restourant_details_slider/4image@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="/img/mobile/main_page/restourant_details_slider/4image@1x.jpg"
                alt="restaurant"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="slider-restdet">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/tublet/main_page/restourant_details_slider/5image@1x.jpg 1x,
                  /img/tublet/main_page/restourant_details_slider/5image@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/mobile/main_page/restourant_details_slider/5image@1x.jpg 1x,
                  /img/mobile/main_page/restourant_details_slider/5image@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="/img/mobile/main_page/restourant_details_slider/5image@1x.jpg"
                alt="restaurant"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="btns-rest-det">
        <button
          type="button"
          class="btns-book-table-rest"
          table-modal-main-2-open
        >
          book a table
        </button>
        <a href="/restaurant.html" class="btns-view-menu-rest">view the menu</a>
      </div>
    </div>
  </div>
</section>
