<section class="container restourant-details">

<div class="decktop-rest-det"> 

    <div class="main-words-details">
        <h2 class="title-rest-det">Restaurant</h2>
        <p class="paragr-rest-det">Relax and unwind with our delicious offerings, available any time of day.</p>
    </div>
           
    <div>
        
        <div>
            <picture>
                <source media="(min-width: 1440px)" srcset="
            /img/desctop/main_page/restourant_details_slider/6pic@1x.jpg 1x,
            /img/desctop/main_page/restourant_details_slider/6pic@2x.jpg 2x
          " type="image/jpg" />
                <source media="(min-width: 768px)" srcset="
            /img/tublet/main_page/restourant_details_slider/1image@1x.jpg 1x,
            /img/tublet/main_page/restourant_details_slider/1image@2x.jpg 2x
          " type="image/jpg" />
                <source media="(max-width: 767px)" srcset="
            /img/mobile/main_page/restourant_details_slider/1image@1x.jpg 1x,
            /img/mobile/main_page/restourant_details_slider/1image@2x.jpg 2x
          " type="image/jpg" />
                <img height="309" width="266" src="/img/mobile/main_page/restourant_details_slider/1image@1x.jpg"
                    alt="restaurant" loading="lazy" />
            </picture>
        </div>


    </div>

    <div class="btns-rest-det">
        <button type="button" class="btns-book-table-rest">book a table</button>
    
        <a href="/restaurant.html" class="btns-view-menu-rest">view the menu</a>
    </div>

</div>

</section>