<div class="backdrop-modal-prices is-hidden" room-modal-restaurant-1>
  <div class="modal-prices">
    <button
      type="button"
      class="modal-prices-close-btn"
      room-modal-restaurant-1-close
    >
      <svg class="modal-close-btn-icon" width="14" height="14">
        <use href="/img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h1 class="modal-prices-title">
      Prices per<span class="part-modal-room-title"> room</span>
    </h1>
    <h2 class="modal-prices-small-title">Double suite</h2>
    <form
      class="modal-prices-form"
      name="modal-prices-form"
      data-modal=""
      autocomplete="off"
    >
      <div class="modal-prices-wrap">
        <div class="modal-prices-block">
          <div class="modal-prices-lable-block">
            <label class="modal-prices-form-label" for="number-people">
              <select
                id="number-people"
                name="number-people"
                class="modal-prices-number-people"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <svg class="modal-icon" width="20" height="20">
                <use href="/img/icons/sprite.svg#icon-chevron-down"></use>
              </svg>
            </label>
          </div>
        </div>

        <div class="modal-prices-block">
          <label class="modal-prices-form-label date-label">
            <input
              value="2023-04-25"
              type="date"
              min="2023-03-01"
              max="2024-01-01"
              class="modal-prices-form-input modal-prices-date"
            />
            <svg class="modal-icon" width="20" height="20">
              <use href="/img/icons/sprite.svg#icon-chevron-down"></use>
            </svg>
            <span class="modal-prices-form-input-desc">Check-in date</span>
          </label>
        </div>
      </div>

      <button type="submit" class="modal-prices-form-btn">
        MAKE A RESERVATION
      </button>
    </form>
  </div>
</div>
