<div class="backdrop-room is-hidden" room-modal-room-1>
  <div class="modal-room">
    <button type="button" class="modal-room-close-btn" room-modal-room-1-close>
      <svg class="modal-close-btn-icon" width="14" height="14">
        <use href="/img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h1 class="modal-room-title">
      BOOK <span class="part-modal-room-title">A room</span>
    </h1>
    <form class="modal-room-form" name="modal-room-form" autocomplete="off">
      <div class="wrap">
        <div class="modal-room-block">
          <label class="modal-room-form-label">
            <input
              type="text"
              name="user_name"
              class="modal-room-form-input"
              required
              pattern="[a-zA-Z]+"
              title="John Smith"
              minlength="2"
              placeholder="YOUR NAME"
            />
            <span class="modal-room-form-input-desc"
              >Who should book a table for?</span
            >
          </label>
          <label class="modal-room-form-label">
            <input
              type="tel"
              name="user_phone"
              class="modal-room-form-input"
              required
              pattern="[\+]\d{3}[\(]\d{2}[\)]\d{3}[\-]\d{2}[\-]\d{2}"
              title="+380(99)999-99-99"
              placeholder="+ 38 () "
            />
            <span class="modal-room-form-input-desc">Phone number</span>
          </label>
        </div>
        <div class="moodal-room-date-block">
          <label class="modal-room-form-label date-label">
            <input
              type="text"
              placeholder="TODAY"
              onfocus="(this.type='date')"
              min="2023-03-01"
              max="2024-01-01"
              class="modal-room-form-input modal-room-date"
            />
            <svg class="modal-icon" width="20" height="20">
              <use href="/img/icons/sprite.svg#icon-chevron-down"></use>
            </svg>
            <span class="modal-room-form-input-desc">Check-in date</span>
          </label>
          <label class="modal-room-form-label date-label">
            <input
              value="2023-04-25"
              type="date"
              min="2023-03-01"
              max="2024-01-01"
              class="modal-room-form-input modal-room-date"
            />
            <svg class="modal-icon" width="20" height="20">
              <use href="/img/icons/sprite.svg#icon-chevron-down"></use>
            </svg>
            <span class="modal-room-form-input-desc">Check-in date</span>
          </label>
        </div>
        <label class="modal-room-form-label date-label category">
          <select
            name="category"
            class="modal-room-form-input option modal-room-date"
          >
            <option value="double-lux">DOUBLE SUITE</option>
            <option value="triple-room">TRIPLE ROOM</option>
            <option value="four-seater-room">FOUR-SEATER ROOM</option>
            <option value="double-suite">DOUBLE LUXURY ROOM</option>
          </select>
          <svg class="modal-icon" width="20" height="20">
            <use href="/img/icons/sprite.svg#icon-chevron-down"></use>
          </svg>
          <span class="modal-room-form-input-desc">Number category</span>
        </label>
      </div>
      <button type="submit" class="modal-room-form-btn" room-modal-romm-1-close>
        MAKE A RESERVATION
      </button>
    </form>
  </div>
</div>
