<div class="backdrop-modal-table is-hidden" data-rest-2-modal>
  <div class="modal-table">
    <button type="button" class="modal-table-close-btn" data-modal-rest-2-close>
      <svg class="modal-close-btn-icon" width="14" height="14">
        <use href="/img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h1 class="modal-table-title">
      BOOK <span class="part-modal-table-title">A table</span>
    </h1>
    <form
      class="modal-table-form"
      name="modal-table-form"
      data-modal=""
      autocomplete="off"
    >
      <div class="modal-table-wrap">
        <div class="modal-table-block">
          <label class="modal-table-form-label">
            <input
              type="text"
              name="user_name"
              placeholder="Your name"
              class="modal-table-form-input"
              required
              pattern="[a-zA-Z]+"
              minlength="2"
            />
            <span class="modal-table-form-input-desc"
              >Who should book a table for?</span
            >
          </label>

          <div class="modal-table-lable-block">
            <label class="modal-table-form-label" for="number-people">
              <select
                id="number-people"
                name="number-people"
                class="modal-table-number-people"
              >
                <option value="0">number of people</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <svg class="modal-icon" width="20" height="20">
                <use href="/img/icons/sprite.svg#icon-chevron-down"></use>
              </svg>
            </label>
          </div>
        </div>

        <div class="modal-table-block">
          <label class="modal-table-form-label modal-table-date" for="date">
            <input
              id="date"
              type="text"
              name="date_book"
              placeholder="TODAY"
              onfocus="(this.type='date')"
              min="2023-03-01"
              max="2024-01-01"
              class="modal-table-form-input"
            />
            <svg class="modal-icon" width="20" height="20">
              <use href="/img/icons/sprite.svg#icon-chevron-down"></use>
            </svg>
            <span class="modal-table-form-input-desc">What date to book?</span>
          </label>

          <label class="modal-table-form-label">
            <input
              type="tel"
              name="user_phone"
              placeholder="+ 38 ()"
              class="modal-table-form-input"
              required
              title="xxx-xxx-xx-xx"
            />
            <span class="modal-table-form-input-desc">Phone number</span>
          </label>
        </div>
      </div>

      <button type="submit" class="modal-table-form-btn">
        MAKE A RESERVATION
      </button>
    </form>
  </div>
</div>
